/*css cho phần heading của tất cả các trang */
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #878686;
    
}
a {
    text-decoration: none;
}

/* head */
#heading{
    width: 100%;
    height: 55px;
    background-color: #252424;
    display: flex;
    flex-grow: 1;
    position:fixed;
    top: 0;
}
.colheader{
    display: inline-block;
}
#menu_header li{
    display: inline-block;
}
.logo{
    width: 300px;
    font-size: 35px;
    letter-spacing: 1px;
}
.item_header{
    width: 180px;
    font-size: 20px;
}
#menu_header li a{
    color: #0174cc;
    line-height: 50px;
}



/* Mobile: width < 740px */
@media only screen and (max-width: 64.1875em){
    .logo{
        width: 140px;
        font-size: 20px;
    }
    .item_header{
        width: 70px;
        font-size: 10px;
    }
}

/* Tablet: width > 740px and width < 1024px */
@media only screen and (min-width: 64.25em) and (max-width: 63.9375em){
    
}
